In [2]:
import pandas as pd
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_df = bike_data.copy()
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Задание 6.1

Сколько пропусков в столбце start station id?

Подсказка (1 из 1): Число непропущенных значений можно узнать с помощью метода info().

In [6]:
bike_df['start station id'].info()
300000-299831

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

169

Задание 6.2

Какой тип данных имеют столбцы starttime и stoptime?
  нет ответа 
Подсказка (1 из 1): Тип данных в столбцах можно узнать с помощью метода info().

In [9]:
bike_df['starttime'].info()
bike_df['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.
  нет ответа 
 
Подсказка (1 из 1): Чтобы найти идентификатор самой популярной стартовой стоянки, можно найти моду в столбце start station id с помощью метода mode().

In [10]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [19]:
bike_df['start station id'].mode()[0]

281.0

Задание 6.4

Велосипед с каким идентификатором является самым популярным?

Подсказка (1 из 1): Чтобы найти идентификатор самого популярного велосипеда, можно найти моду в столбце bikeid с помощью метода mode().

In [22]:
bike_df['bikeid'].mode()[0]

33887

Задание 6.5

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.
 
Подсказка (1 из 3): Чтобы найти преобладающий тип клиентов, можно использовать метод mode().

Подсказка (2 из 3): Произведите фильтрацию и найдите поездки преобладающего типа клиентов.

Подсказка (3 из 3): Разделите число строк в отфильтрованной таблице на общее число строк.

In [39]:
mode_user = bike_df['usertype'].mode()[0]
display(mode_user)
count_mode_user = bike_df[bike_df['usertype'] == mode_user].shape[0]
display(count_mode_user)
round(count_mode_user/bike_df.shape[0], 2)

'Subscriber'

232202

0.77

Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.
  нет ответа 
 
Подсказка (1 из 1): Для решения данной задачи достаточно произвести фильтрацию по условию равенства столбца gender значениям 1 и 2, и найти число строк в отфильтрованных таблицах. После этого необходимо выбрать максимальное из двух чисел.

In [68]:
display(bike_df['gender'].mode()[0])
male_trip = bike_df[bike_df['gender'] == 1].shape[0]
fem_trip = bike_df[bike_df['gender'] == 0].shape[0]
display(max(male_trip, fem_trip))

1

183582

In [58]:
male = bike_df[bike_df['gender'] == 1].shape[0]
fem = bike_df[bike_df['gender'] == 0].shape[0]
display(max(male, fem))

183582

Задание 6.7

Выберите утверждения,которые соответствуют нашим данным:
A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

Подсказка (1 из 1): Для вывода статистической информации в таблице можно воспользоваться методом describe().

In [69]:
bike_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [73]:
bike_df.describe(include=['object'])

,starttime,stoptime,start station name,end station name,usertype
count,300000,300000,299831,299831,300000
unique,299836,299813,759,765,2
top,2018-09-02 13:59:41.7770,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,2,1928,1963,232202

In [76]:
bike_df['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

In [90]:
sort_bike_df = bike_df['start station name'].sort_values()
sort_bike_df.iloc[[0,-1]]

299999    1 Ave & E 110 St
297026                 NaN
Name: start station name, dtype: object

Задание 6.8

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

Подсказка (1 из 2): Для удаления столбцов из таблицы можно воспользоваться методом drop(), передав в него наименования столбцов, а также параметр axis=1.

In [118]:
bike_df = bike_data.copy()
bike_df = bike_df.drop(['start station name', 'end station name'], axis=1)
bike_df.head()

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1994,1

In [97]:
display(bike_df.shape[1])

12

Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?
 
Подсказка (1 из 3): Чтобы создать столбец с возрастом, вычтите из числа 2018 столбец birth year, а результат положите в столбец age.

Подсказка (2 из 3): Удалите столбец birth year и произведите фильтрацию по условию «возраст больше 60».

Подсказка (3 из 3): Найдите число строк в отфильтрованной таблице.

In [119]:
bike_df['age'] = 2018 - bike_data['birth year']
bike_df.drop(['birth year'], axis=1, inplace=True)
display(bike_df[bike_df['age'] > 60].shape[0])

11837

Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и временем её начала (starttime) в секундах. Рассчитайте среднее значение по новому столбцу — среднюю длительность поездки, а затем переведите её в секунды. Ответ округлите до целого.
Для того чтобы преобразовать временной интервал timedelta в секунды, используется атрибут seconds (в datetime атрибут был second — в единственном числе).
 
Подсказка (1 из 3): Приведите столбцы starttime и stoptime к формату datetime, чтобы между ними можно было вычислять интервал (разницу между датами).

Подсказка (2 из 3): Длительность поездки рассчитывается как разница между stoptime и starttime.

Подсказка (3 из 3): У приведённой разницы с помощью атрибута аксессора dt seconds получаем число секунд. Результат заносим в столбец trip duration и вычисляем среднее значение в секундах.

In [165]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'], dayfirst=True)

bike_df['trip_duration'] = bike_data['stoptime'] - bike_data['starttime']
bike_df['trip_duration'] = bike_df['trip_duration'].dt.seconds
round(bike_df['trip_duration'].mean())

1000

In [166]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'], dayfirst=True)

bike_df['trip_duration'] = bike_data['stoptime'] - bike_data['starttime']
bike_df['trip_duration'].mean().seconds

1126

Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.
 
Подсказка (1 из 3): Чтобы создать признак weekend, необходимо с помощью атрибута аксессора dt dayofweek выделить день недели из столбца с датой начала поездки.

Подсказка (2 из 3): С помощью метода apply() можно применить к результирующей Series функцию, которая принимает на вход число (день поездки) и возвращает 1, если это число равно 5 или 6 (суббота и воскресенье), в противном случае функция возвращает 0. Результат необходимо занести в столбец weekend.

Подсказка (3 из 3): Самый простой способ посчитать число поездок, совершаемых в выходные — рассчитать сумму по столбцу (поскольку столбец состоит из 1 и 0, на выходе суммы получается количество, равное 1).

In [179]:
weekday = bike_df['starttime'].dt.dayofweek
bike_df['weekend'] = weekday.apply(lambda x: 1 if x==5 or x==6 else 0)
sum(bike_df['weekend'])

115135

In [182]:
weekday = date_df['starttime'].dt.dayofweek
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
date_df['weekend'] = weekday.apply(get_weekend)
date_df['weekend'].sum()

115135

Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

Подсказка (1 из 3): Определите функцию get_time_of_day, которая принимает на вход время (в часах) и возвращает время суток в зависимости от принадлежности часа к указанному в задании диапазону.

Подсказка (2 из 3): Примените эту функцию к столбцу starttime, предварительно выделив час начала поездки с помощью атрибута аксессора dt hour. Результат занесите в столбец time_of_day.

Подсказка (3 из 3): С помощью фильтрации найдите число поездок, совершённых днем и ночью, и разделите первое на второе.

In [193]:
def get_time_of_day(trip_time):
    if 0 <= trip_time <= 6:
        return 'night'
    elif 6 < trip_time <= 12:
        return 'morning'
    elif 12 < trip_time <= 18:
        return 'day'
    elif 18 < trip_time <= 23:
        return 'evening'
    else:
        return 'else'
trip_time = bike_df['starttime'].dt.hour
bike_df['startime'] = trip_time.apply(get_time_of_day)

day_trip = bike_df[bike_df['startime'] =='day'].shape[0]
night_trip = bike_df[bike_df['startime'] =='night'].shape[0]

display(round(day_trip/night_trip))

9

In [192]:
data = bike_data.copy()

def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
data['time_of_day'] = data['starttime'].dt.hour.apply(get_time_of_day)
a = data[data['time_of_day'] == 'day'].shape[0]
b = data[data['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9