In [11]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [2]:
print(melb_data['Price'].mean())

1075684.079455081

In [3]:
print(melb_data['Car'].max())

10.0

In [5]:
rate = 0.12

income = melb_data['Price'].sum()*rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

In [8]:
landsize_median = melb_data['Landsize'].median()
landsize_mean = melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [9]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

In [10]:
melb_data['Regionname'].mode()

0    Southern Metropolitan
Name: Regionname, dtype: object

Задание 7.2
Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [15]:
print(melb_data['Propertycount'].max())

21650.0

Задание 7.3
Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [17]:
print(round(melb_data['Distance'].std()))

6

Задание 7.4
Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [20]:
BA_median = melb_data['BuildingArea'].median()
BA_mean = melb_data['BuildingArea'].mean()
print(round((abs(BA_median - BA_mean)/BA_mean)*100))

10

Задание 7.5
Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [34]:
import statistics
row = [1, 2, 4, 2, 3, 2, 1, 5, 6]
statistics.mode(row)

2

Задание 7.6
Сколько спален чаще всего встречается в домах в Мельбурне?

In [29]:
print(melb_data['Bedroom'].mode())

0    3.0
Name: Bedroom, dtype: float64