In [8]:
import pandas as pd

stud_perf = pd.read_csv('data/students_performance.csv', sep=',')

In [9]:
display(stud_perf)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Задание 9.1
Данные о скольких студентах содержатся в таблице?

In [11]:
stud_perf.shape[0]

1000

Задание 9.2
Каков балл по письму у студента под индексом 155?

In [16]:
stud_perf.loc[155, 'writing score']

88

Задание 9.3
Сколько суммарно пропущенных значений в таблице?

Задание 9.4
Сколько столбцов в таблице имеет тип данных object?

Задание 9.5
Какой объём памяти (в килобайтах) занимает таблица?

In [17]:
stud_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Задание 9.6
Каков у студентов средний балл по математике?

In [21]:
round(stud_perf['math score'].mean())

66

Задание 9.7
Какая расовая группа является самой крупной в учебном заведении?

In [23]:
stud_perf['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

Задание 9.8
Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [34]:
round(stud_perf[stud_perf['test preparation course'] == 'completed']['reading score'].mean())

74

Сколько студентов получили 0 баллов по математике?

In [42]:
stud_perf[stud_perf['math score'] == 0].shape[0]

1

Задание 9.10
Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [56]:
st_lunch = stud_perf[stud_perf['lunch'] == 'standard']['math score'].mean()
fr_lunch = stud_perf[stud_perf['lunch'] == 'free/reduced']['math score'].mean()
st_lunch > fr_lunch
print(round(st_lunch))
print(round(fr_lunch))

True

Задание 9.11
Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [64]:
round(stud_perf["parental level of education"].value_counts(normalize=True)*100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

In [65]:
#bach_lev = stud_perf[stud_perf['parental level of education'] == "bachelor's degree"].shape[]

Задание 9.12
Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [73]:
stud_A = stud_perf[stud_perf['race/ethnicity'] == 'group A']['writing score'].median()
stud_C = stud_perf[stud_perf['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(stud_A - stud_C)))

6