In [5]:
import pandas as pd
mov_df = pd.read_csv('data/movies.csv')
mov_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Задание 5.2

Сколько уникальных фильмов представлено в таблице movies?

In [7]:
mov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

Задание 5.3

Сколько уникальных пользователей в таблице ratings1?

In [13]:

rat1_df = pd.read_csv('data/ratings1.csv')
rat1_df.info()
rat1_df['userId'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40001 entries, 0 to 40000
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   40001 non-null  int64
 1   movieId  40001 non-null  int64
 2   rating   40001 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 937.6 KB

274

In [31]:
dat_df = pd.read_csv('data/dates.csv')
dat_df.head()
dat_df['year'] = pd.to_datetime(dat_df['date']).dt.year
dat_df['year'].mode()

0    2000
Name: year, dtype: int64